* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(65, 185, 131, 1) 0%,
    rgba(0, 212, 255, 1) 50%,
    rgba(0, 112, 255, 1) 100%
  );
  font-family: "Poppins", sans-serif;
}

.board {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  background: rgba(255, 255, 255, 0.3) !important;
}
.scoreboard {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.player-score h2 {
  font-size: 1.5rem;
  color: white;
}


/* Célula */
.cell {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: "";
  height: calc(100px * 0.15);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

/* Circle */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  height: calc(100px * 0.9);
  width: calc(100px * 0.9);
  background: white;
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

/* Destaque de Vitória */
.cell.highlight {
  background-color: rgba(255, 255, 0, 0.6);
  animation: blink 1s infinite alternate;
}

@keyframes blink {
  from {
    background-color: rgba(255, 255, 0, 0.6);
  }
  to {
    background-color: rgba(255, 255, 0, 0.9);
  }
}

/* Mensagem de Vitória */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.winning-message-button {
  font-size: 2.5rem;
  background-color: rgba(65, 185, 131, 1);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
  transition: all 0.3s ease-in-out;
}

.winning-message-button:hover {
  color: rgba(65, 185, 131, 1);
  background-color: white;
}

.winning-message-text {
  color: white;
  font-size: 5rem;
  font-weight: 600;
}

.show-winning-message {
  display: flex;
}

/* Responsividade */
@media (max-width: 600px) {
  .cell {
    width: 80px;
    height: 80px;
  }

  .cell.x::before,
  .cell.x::after,
  .board.x .cell:not(.x):not(.circle):hover::after,
  .board.x .cell:not(.x):not(.circle):hover::before,
  .cell.circle::before,
  .cell.circle::after {
    height: calc(80px * 0.15);
    width: calc(80px * 0.9);
  }

  .winning-message-text {
    font-size: 3rem;
  }

  .winning-message-button {
    padding: 8px 12px;
    font-size: 1.6rem;
  }
}
